name = "internal-gateway"
main = "src/index.ts"
compatibility_date = "2026-01-08"
workers_dev = false



[[services]]
binding = "R2_SERVICE"
service = "cloudflare-r2-service"

[[services]]
binding = "GITHUB_SERVICE"
service = "github-service"

[[services]]
binding = "GOOGLE_DRIVE_SERVICE"
service = "google-drive-service"

# Production environment
[vars]
PAGES_TO_GATEWAY_TOKEN = "733145d9f79b04fa30bf271724e6a71478df139d6c122ab820aeaac6095b5f7d"
GATEWAY_TO_BACKEND_TOKEN = "805851c48aaea12f17b8bcb053de8a33db54171a3aaaa9bfab6a6727362de53a"
# Auth0 JWT検証
AUTH0_ISSUER = "https://tachiiri.jp.auth0.com/"
AUTH0_AUDIENCE = "urn:ddd-master-editor-api"

# Preview environment
[env.preview]
workers_dev = false



[[env.preview.services]]
binding = "R2_SERVICE"
service = "cloudflare-r2-service"

[[env.preview.services]]
binding = "GITHUB_SERVICE"
service = "github-service"

[[env.preview.services]]
binding = "GOOGLE_DRIVE_SERVICE"
service = "google-drive-service"

[env.preview.vars]
PAGES_TO_GATEWAY_TOKEN = "733145d9f79b04fa30bf271724e6a71478df139d6c122ab820aeaac6095b5f7d"
GATEWAY_TO_BACKEND_TOKEN = "805851c48aaea12f17b8bcb053de8a33db54171a3aaaa9bfab6a6727362de53a"
AUTH0_ISSUER = "https://tachiiri.jp.auth0.com/"
AUTH0_AUDIENCE = "urn:ddd-master-editor-api"
