name = "tachiiri-gateway"
main = "src/index.ts"
compatibility_date = "2026-01-08"
workers_dev = false

[[services]]
binding = "BACKEND"
service = "ddd-master-editor-backend"

# Production environment
[vars]
PAGES_TO_GATEWAY_TOKEN = "733145d9f79b04fa30bf271724e6a71478df139d6c122ab820aeaac6095b5f7d"
GATEWAY_TO_BACKEND_TOKEN = "805851c48aaea12f17b8bcb053de8a33db54171a3aaaa9bfab6a6727362de53a"
# Auth0/Cloudflare Access JWT検証
ACCESS_JWT_ISSUER = "https://tachiiri.cloudflareaccess.com"
ACCESS_JWT_AUDIENCE = "audience-for-production"

# Preview environment
[env.preview]
workers_dev = false

[[env.preview.services]]
binding = "BACKEND"
service = "ddd-master-editor-backend"

[env.preview.vars]
PAGES_TO_GATEWAY_TOKEN = "733145d9f79b04fa30bf271724e6a71478df139d6c122ab820aeaac6095b5f7d"
GATEWAY_TO_BACKEND_TOKEN = "805851c48aaea12f17b8bcb053de8a33db54171a3aaaa9bfab6a6727362de53a"
ACCESS_JWT_ISSUER = "https://tachiiri.cloudflareaccess.com"
ACCESS_JWT_AUDIENCE = "audience-for-preview"
